# Setup

In [20]:
# Import libraries

import pandas as pd
import matplotlib

In [18]:
# Set global variables

path_csv_path = 'logs/path.csv'
tracker_csv_path = 'logs/tracker.csv'

In [19]:
# Read the path and tracker files into Pandas DataFrames

path_df = pd.read_csv(path_csv_path)
tracker_df = pd.read_csv(tracker_csv_path)

# Data Analysis

In [36]:
# Take a little look at the data in the DataFrames
# path_df.head(25)
# tracker_df.head(25)

In [37]:
# TODO

# Data Cleaning

## 1. Remove unnecessary data

In [32]:
# Remove the "z" and "time" dimension columns in both DataFrames
path_df.drop(columns=['z_pth', 't_pth'])
tracker_df.drop(columns=['z_trk', 't_trk'])

        Unnamed: 0   index      x_trk      y_trk
0                0    3180 -36.507133 -40.170982
1                1    3181 -36.543438 -40.260765
2                2    3182 -36.645119 -40.364326
3                3    3183 -36.709301 -40.413754
4                4    3184 -36.720108 -40.421989
...            ...     ...        ...        ...
546938      546938  550118 -35.735081 -24.971382
546939      546939  550119 -35.476555 -23.567873
546940      546940  550120 -35.200634 -22.105921
546941      546941  550121 -34.895008 -20.589333
546942      546942  550122 -34.612679 -19.015917

[546943 rows x 4 columns]